.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*.npz
data/*.tif
rawdata/
__pycache__/
old/
.ipynb_checkpoints/
data/*.sqlite
lightning_logs/
data/buffer_*_percent/
data/lakes_random/
data/*.zip
data/*aux.xml